@import '../Vars.scss';

.banner {
  color: white;
  object-fit: contain;
  height: 548px;
  background-position: center center;
}

.banner__contents {
  padding-top: 22rem;
  height: 190px;
}

.banner--fadeBottom {
  height: 12.4rem;
  background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.438), $semi-black);
}

.banner__title {
  font-size: 1.55rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 800;
  padding: 0 $padding-container;
  padding-top: 2.5rem;
}


.banner__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 50px;
  padding: 0 $padding-container;
}

.banner__action-add-list{
  margin-right: 30px;
}
.banner__action-info{
  margin-left: 20px;
}
.banner__action-btn {
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  text-decoration: none;
  width: auto;
  height: 45px;
  padding: 0 24px 0 15px;
}

.play-btn-style{
  margin-right: 8px;
}

.btn-play{
  color:black;
  background-color: white;
  
}

.btn-info{
  color:white;
  background-color: rgba(97, 97, 97, 0.623);
}

.banner__action-add-list,
.banner__action-info{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  text-decoration: none;
}

.action-text {
  font-size: 16px;
  font-weight: 550;
}


.display-only-phone{
  display: flex;
}
.display-only-tablet{
  display: none;
}
.display-only-desktop{
  display: none;
}

.display-when-tablet{
  display: none;
}
