/*==== CAROUSEL ITEM ====*/
.carousel-item {
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  width: 250px;
  height: 150px;
  margin-right: 10px;
  cursor: pointer;
  transition: 450ms all;
  -webkit-transform-origin: center left;
  transform-origin: center left;
  transition-delay: 0.5s;
}

.carousel-item--large {
  height: 350px;
}

.carousel-item:hover ~ .carousel-item {
  -webkit-transform: translate3d(130px, 0, 0);
  transform: translate3d(130px, 0, 0);
  transition-delay: 0.5s;
}
.carousel-item--large:hover ~ .carousel-item--large {
  -webkit-transform: translate3d(50px, 0, 0);
  transform: translate3d(50px, 0, 0);
  transition-delay: 0.5s;
}

.carousel-item__img {
  width: 250px;
  height: 150px;
  -o-object-fit: cover;
  object-fit: cover;
}

.carousel-item__img--large {
  height: 350px;
}

.carousel-item__detail {
  align-items: flex-start;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  bottom: 0;
  display: flex;
  font-size: 16px;
  flex-direction: column;
  justify-content: flex-end;
  left: 0;
  opacity: 0;
  transition: 450ms opacity;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
}

.carousel-item:hover .carousel-item__detail {
  opacity: 1;
  transition-delay: 0.8s;
}

.detail-action {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 24px;
  color: #a0a0a0;
}

.action{
  border: 1px solid #a0a0a0;
  color: #a0a0a0;
  border-radius: 100%;
  margin-right: 10px;
}

.action--play{
  background: #a0a0a0;
}

.action:hover{
  border: 1.2px solid #ffffff;
  background-color: #141414;
}

.action--play:hover{
  background:white;
}


.detail__title {
  color: white;
  margin: 5px 0px 0px 0px;
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.detail__subtitle {
  color: white;
  font-size: 10px;
  margin: 3px 0px;
}
