/*   Navbar     */
.navbar {
  width: 100%;
  height: 3.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 999;
  opacity: 0.89;
  background: linear-gradient(to bottom,rgba(0, 0, 0, 0.342) 10%,rgba(0,0,0,0));
  transition: all 0.5s ease-in-out;
}

/* Effect while scrolling*/
.navbar--active {
  opacity: 1;
  background: #141414;
  transition: all 0.5s ease-in-out;
}

.navbarLeft,
.navbarRight {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__logo {
  width: 6.25rem;
  height: 3rem;
  padding-top: 0.25rem;
  margin-right: 1rem;
}

/*Navbar Right Side*/
.navbar__search-btn {
  margin-right: 0.75rem;
}
/*============== */
/*End of Navbar */