.mobileUser{
    background: #141414;
    color: white;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 998;
    display: none;
}
.mobileProfile{
    width: 80%;
    height: max-content;
    padding-top: 4rem; //because container set up
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobileProfile__data{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mobileProfile__img > img{
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

.mobileProfile__current-user{
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: max-content;
}

.mobileProfile__current-user > h5{
    font-style: italic;
}

.mobileProfile__settings{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 32px;
}

.mobileProfile__settings > h4{
    margin-top: 10px;
}

.mobileProfile__notifications, .mobileProfile__gift, .mobileProfile__my-list, .mobileProfile__likes{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 16px;
}
.mobileProfile__notifications > h3, .mobileProfile__gift > h3 , .mobileProfile__my-list > h3 ,.mobileProfile__likes > h3{
    margin-left: 8px;
}
.mobileProfile__separator{
    width: 100%;
    margin-top: 16px;
}

.account{
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}


.account__settings, .account__help{
    margin-top: 16px;
}

.account__settings > h4, .account__help > h4{
    font-weight: 400;
}


.account__session{
    margin-top: 48px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
}

.btn-primary{
    color: white;
    font-weight: 600;
    background-color: #c51111;
    border-radius: 5px;
    padding: 8px 10px;
    height: 100%;
    width: max-content;
    font-size: 16px;
}
/**
*/