@import './Vars.scss';
@import './MediaTablet.scss';
@import './MediaDesktop.scss';

/* General settings*/
/* 16px = 1rem*/
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  background: $semi-black;
  font-family: $theme-font;
  color: $white;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  text-indent: 1rem;
}

input:focus {
  outline: none;
}

a:focus {
  outline: none;
}

button {
  padding: 0;
  margin: 0;
  border: 0;
  background: 0;
  content: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

figure {
  padding: 0;
  margin: 0;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.container {
  padding: 0 1rem;
  margin: 0;
}


::selection {
  color: $semi-black;
  background-color: $semi-black;
}

.no-display {
  display: none;
}

.yes-display {
  display: block;
}
/* we got display when & display only
*  when -> this screen and so on
*  only -> this and only this
*/


