@media only screen and (min-width: 1024px) {
    /* For Navbar */

    .display-only-phone{
      display: none;
    }
    
    .display-only-desktop{
      display: flex;
    }

    .display-only-tablet{
      display: none;
    }


    .banner{
      height: 578px;
      object-fit: contain;
    }

    .banner__contents {
      padding-top: 19rem;
      height: 250px;
    }
    .banner--fadeBottom {
      height: 17.4rem;
    }
    .banner__actions{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 1.7rem;
    }
    .banner__action-detail{
      display: none;
    }
    .banner__action-btn{
      margin-right: 20px;
      margin-left: 0;
    }



    .banner__data{
      flex-direction: column;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      padding-left: 1.7rem;
    }
    .banner__title{
      padding: 0;
      font-size: 40px;
      max-width:75%;
      text-align: start;
    }

    .banner__overview{
      width: 526px;
      height: 2.3rem;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical; 
    }

    /*Carousel buttons for laptops*/
    .carousel__btn {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
        z-index: 2;
        outline: none;
        cursor: pointer;
        border: none;
        font-size: 30px;
        color: white;
        width: 65px;
        background: #08080869;
        text-align: center;
        margin-top: 25px;
      }
    
      .carousel__btn--large {
        height: 350px;
      }
    
      .carousel__btn--left {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        left: 0;
        align-items: center;
      }
    
      .carousel__btn--right {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        right: 0;
        align-items: center;
      }
    
      .carousel__btn:hover {
        background: #000000e5;
        font-size: 50px;
      }

  }