/* Netflix Brand
*  Colors:
*    Black: #000000;
*    Kinda-Black: #141414;
*    Red: #E50914;
*    White: #FFF;

*  Font-Family:
     Main: Netflix Sans or Roboto
     Alternative: Helvetica Neue
*/

$theme-font: 'Monserrat', sans-serif;
$black: #000000;
$semi-black: #141414;
$red: #e50914;
$white: #fff;
$padding-container: 1rem;
